.column {
  width: 600px;
}

.blocks_container {
  height: 61vh;
  overflow-y: scroll;
}

.blocks_container::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.blocks_container::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.block_list {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}